.products-message{
  width :60% ;
  height: auto ;
  margin:auto;
  padding:20px ;
}
.message{
  background :greenyellow ;
  color:red ;
  padding:10px ;
  border-radius: 6px ;
  font-size: 30px;
  margin:20px 0px ;
  position: relative;

}
.message::after{
  content: '';
  position: absolute;
  border:5px solid ;
  border-color: transparent transparent greenyellow transparent;
  top:-10px ;
  right:10px ;
}
